.game-page{
	width:800px;
	height:800px;
	background-color:lightyellow;
	margin: auto;
	text-align:center;
}
.test{

}
.balloon{
	width:10px;
	height:10px;
	background-color: lightpink;
	position:relative;
	top:525px;
	left: 395px;
}

.jerry{
	width:50px;
	height:50px;
	background-color: lightgrey;
	position:relative;
	left: 100px;
	
}
.tom{
	width:100px;
	height:100px;
	background-color: lightblue;
	position: relative;
	left: 350px;
	top: 500px;
}
.button{
	position: relative;
	left: 10px;
	top: 640px;

}
.end-result{
	width:170px;
	height:100px;
	background-color: lightgreen;
	position: relative;
	left: 550px;
	top: 400px;

}